<div class="container">
    <div class="row justify-content-center">
        <div class="w-100 d-flex justify-content-center mt-3">
            <button class="col-12 btn w-auto" @onclick="GeneratePalette">GENERATE</button>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column flex-md-row gap-3 mt-3">
            <Tile Color="@Color1" HexValue="@Color1Hex" />
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column flex-md-row gap-3 mt-3">
            <Tile Color="@Color2" HexValue="@Color2Hex" />
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column flex-md-row gap-3 mt-3">
            <Tile Color="@Color3" HexValue="@Color3Hex" />
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column flex-md-row gap-3 mt-3">
            <Tile Color="@Color4" HexValue="@Color4Hex" />
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column flex-md-row gap-3 mt-3">
            <Tile Color="@Color5" HexValue="@Color5Hex" />
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column flex-md-row gap-3 mt-3">
            <Tile Color="@Color6" HexValue="@Color6Hex" />
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column flex-md-row gap-3 mt-3">
            <Tile Color="@Color7" HexValue="@Color7Hex" />
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column flex-md-row gap-3 mt-3">
            <Tile Color="@Color8" HexValue="@Color8Hex" />
        </div>
    </div>
</div>



@code {
    public required string Color1 { get; set; }
    public required string Color2 { get; set; }
    public required string Color3 { get; set; }
    public required string Color4 { get; set; }
    public required string Color5 { get; set; }
    public required string Color6 { get; set; }
    public required string Color7 { get; set; }
    public required string Color8 { get; set; }

    public string Color1Hex => $"#{Color1}";
    public string Color2Hex => $"#{Color2}";
    public string Color3Hex => $"#{Color3}";
    public string Color4Hex => $"#{Color4}";
    public string Color5Hex => $"#{Color5}";
    public string Color6Hex => $"#{Color6}";
    public string Color7Hex => $"#{Color7}";
    public string Color8Hex => $"#{Color8}";

    public void GeneratePalette()
    {
        Color1 = GenerateColor();
        Color2 = GenerateColor();
        Color3 = GenerateColor();
        Color4 = GenerateColor();
        Color5 = GenerateColor();
        Color6 = GenerateColor();
        Color7 = GenerateColor();
        Color8 = GenerateColor();
    }

    public string GenerateColor()
    {
        var random = new Random();
        
        var r = random.Next(0, 256);
        var g = random.Next(0, 256);
        var b = random.Next(0, 256);

        return $"{r:X2}{g:X2}{b:X2}";
    }
}
